*{
    font-family: "Arial", sans-serif;
}

header h1{
    text-decoration: underline;
    text-align: center;
}

body p a{
    color: red;
}

body{
    width: 350px;
    float: left;
}

input{
    float: right;
}

.boton1{
    margin-right: 130px;
}

.atras1{
    float: left;
    margin-left: 135px;
}

.rol{
    width: 200px;
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}